{% extends 'base.html' %}
{% block title %}포스트 목록입니다.{% endblock %}
{% block content %}
            <h1>Blog 홈</h1>
            {% if post_list %}
                <!-- 포스트 가져옴 -->
                {% for post in post_list %}
                    <hr>
                    {% if post.category %}
                    <h5 class="text-end">[{{ post.category }}]</h5>
                    {% endif %}
                    <h3>
                        <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
                    </h3>
                    <p>작성자: {{ post.author }} (작성일: {{ post.pub_date }})
                        <!-- 로그인한 사용자와 글쓴이가 일치하면 삭제가 보임 -->
                        {% if request.user == post.author %}
                        <a href="#" class="delete" data-uri="{% url 'blog:post_delete' post.id %}">| 삭제</a>
                        {% endif %}
                    </p>

                    {% if post.photo %}
                    <img src="{{ post.photo.url }}" style="height: 100px;">
                    {% endif %}
                {% endfor %}
            {% else %}
            <p>포스트가 없습니다.</p>
            {% endif %}
{% endblock %}